.inactive-alert-box {
    display: none;
}
.active-alert-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $transparent-black-1;
    z-index: 10;
}
.alert-info {
    display: flex;
    background-color: $clr-white-1;
    width: 20rem;
    height: 15vh;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#close-out-container {
    position: absolute;
    display: inline-flex;
    align-self: flex-end;
    float: right;
    width: 2rem;
    margin:  .7rem .7rem 0 0;
}
.close-out {
    color: $clr-gray-2;
    font-size: 2rem;
    border-radius: .2rem;
    transition: color .1s ease;
    &:hover {
        color: $clr-red-1;
        cursor: pointer;
    }
}
.success-message {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    h1 {
        color: $clr-green-1;
        text-align: center;
        font-size: 2.5rem;
    }
}
.failed-message {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    h1 {
        color: $clr-red-1;
        text-align: center;
        font-size: 2.5rem;
    }
}
.alert-text {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}
.alert-active {
    display: flex;
}