$imgWidth: 7rem;

#menuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}
#all-recipes {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menuItem {
    display: inline-flex;
    width: 90rem;
    max-width: 95vw;
    margin: 1rem 0;
    border-radius: $border-radius-medium;
}
.img-container {
    width: $imgWidth * 3;
    height: $imgWidth * 2;
}
.image {
    border: 0.3rem solid $clr-blue-3;
    border-radius: 0.3rem;
    width: $imgWidth * 3;
    height: $imgWidth * 2;
    object-fit: cover;
    box-sizing: border-box;
}
.short-text {
    font-size: 1.5rem;
}
.textContainer {
    margin-left: 2rem;
    width: 100%;
}
.inlineTitle {
    display: inline-flex;
    width: 100%;
}
.title {
    color: $clr-blue-1;
    margin-top: 0;
    margin-bottom: 0;
    // text-transform: capitalize;
}
.price {
    color: $clr-blue-3;
    margin: 0 0 0 auto;
}
.itemUnderline {
    margin-top: 1rem;
    border-top: dotted 3px $clr-blue-1;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.desc {
    color: $clr-blue-4;
    line-height: 2rem;
    margin: 0;
    &::first-letter {
        text-transform: capitalize;
    }
}
