$background: #2f3640;
$text-main: #000000;
$text-hover: #707070;
$footer-background: #2d3436;
$secondary-color: #f7941d;
$tertiary-color: #ffffff;

/* Resume */
$text: #808080;
$resume-background: #ffffff;
$skills-background: #989da6;
$resume-text: #000000;
$resume-subtitles: #313c4e;
$experience-subtitle: #606060;
$resume-descriptions: #7c7c7c;
$resume-link-hover: #9a9a9a;
$link: #0000ff;
$link-hover: #0400d9;

/* Contact Me */
$submit-btn: #006dfe;

$light-background: #f9f9f9;
$light-background-translucent: #f5f6faaa;
$medium-light-background: #d8d8d8;
$accent-color: #f7941d;
$dark-background: #2d3436;

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$font-dark: #2d3436;
$transparent-dark: #00000066;
$transparent-darker: #00000099;
$font-light: $light-background;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
$btn-light: #949494;
$btn-dark: #303030;

/* Navbar */
$navbar-active: #ffffff;
$navbar-inactive: #ffffff7f;
$navbar-hover: #ffffffcf;

/* Navbar Mobile */
$mob-nav-active: #000000;
$mob-nav-inactive: #0000007f;

/* Body */
$title: #000000;
$subtitle: #ff5349;
$text: #808080;
$text-hover: #505050;
$west-mec: #f8941c;
$west-mec-hover: #f8741c;
$content-div-background: #ffffff;

/* Homepage */
$phone: #005bd4;
$email: #DB4437;
$email-hover: #d40000;
$linkedin: #0274b3;
$linkedin-hover: #028edb;
$github: #000000;
$github-hover: #424242;

/* Resume */
$resume-background: #ffffff;
$skills-background: #989da6;
$resume-text: #000000;
$resume-subtitles: #313c4e;
$experience-subtitle: #606060;
$resume-descriptions: #7c7c7c;
$resume-link-hover: #9a9a9a;

/* Project Gallery */
$link: #0000ff;
$link-hover: #0400d9;

/* Contact Me */
$submit-btn: #006dfe;

/* Footer */
$footer-text: #ffffff;
$footer-text-hover: #bfbfbf;
$footer-background: #000000;

/* Alert */
$alert-background: #0000005f;
$close-out-hover: #ff0000;
$success-title: #008000